{namespace neos=Neos\Neos\ViewHelpers}

<f:if condition="{virtualNewsNode}">
    <f:then>
        <neos:link.node node="{virtualNewsNode}" arguments="{node: node}">
            <f:render section="content"/>
        </neos:link.node>
    </f:then>
    <f:else>
        <neos:link.node node="{node}">
            <f:render section="content"/>
        </neos:link.node>
    </f:else>
</f:if>

<f:section name="content">
    <!-- Creation Date -->
    <p><f:format.date date="{publishDate}" format="d.m.Y H:i" /></p>

    <!-- News Title -->
    <h4>{title}</h4>

    <!-- Teaser -->
    <h5>{teaser}</h5>

    <!-- Author -->
    <f:if condition="{author}">
        <p>{author.properties.title}</p>
    </f:if>
</f:section>
